body{
    background-color: yellow;
    text-align: center;
}
.box{
    height: 80px;
    width: 100px;
    border: px solid;
    margin: 20px;
    background-color: green;
}
.container{
    position: relative;
    left: 520px;
}
.box1{
    transition: all;
    transition-duration: 2s;
    transition-timing-function: linear;
}
.box1:hover{
    width: 270px;
}
.box2{
     height: 100px;
     width: 100px;
     transition: all 2s linear;
}
.box2:hover{
    height: 250px;
    width: 250px;
}
.box3{
    width: 100px;
    transition: all 2s linear;

}
.box3:hover{
    width: 250px;
}
.box4{
    width: 100px;
    transition: all 2s ease;
}
.box4:hover{
    width: 250px;
}
.box5{
    width: 100px;
    transition: all 2s ease-in;
}
.box5:hover{
      width: 250px;
}
.box6{
    width: 100px;
    transition: all 2s ease-out;
}
.box6:hover{
    width: 250px;
}
.box7{
    width: 100px;
    transition: all 2s ease-in-out;
}
.box7:hover{
    width: 250px;
}
 26  
